In [25]:
%load_ext sql
%sql postgresql://postgres:root@localhost/learn-fastapi

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Database Diagram
<img src="./docs/v2_Ally_database_diagram.png" width="760px">

In [26]:
%sql SELECT * FROM users AS u;

 * postgresql://postgres:***@localhost/learn-fastapi
3 rows affected.

[('admin@admin.com', '$2b$12$DGcsr.2S.BxA7ij8tgFyMuvBRasVNqKvoYdaBqoQSvEp8HzYAfEfm', None, None, False, None, UUID('6910c77e-c14d-46ef-ac7c-9d5eb62c3a51'), datetime.datetime(2024, 4, 6, 13, 31, 17, 852790, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 31, 17, 852790, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('ronado@example.com', '$2b$12$hgvn0vnoHY5yBV9dA1e3F.xjG9uJbQyDrHpB3JqZwBXzyIXIUGXvK', None, None, False, None, UUID('fa73c841-4448-41ae-8d73-162b568f9cf1'), datetime.datetime(2024, 4, 6, 13, 31, 40, 932900, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 31, 40, 932900, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('donguyenanh2k1@gmail.com', 'fh5yp6JaTn-OVhcWtb6xqw', 'Ánh Đỗ Nguyên', 'https://lh3.googleusercontent.com/a/ACg8ocKgGEbNh0QFCGI4Oo2VOvcXCb8ZS1i4Bsn1hGdUpj0iaL71tDnk=s96-c', True, None, UUID('9d132e9f-a8cc-4080-9ab0-1a29d14e0f15'), datetime.datetime(2024, 4, 6, 13, 48, 58, 560303, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 54, 1, 916985, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Test Login

In [27]:
%sql SELECT u.email AS email, s.created_at AS session_created_at, s.expires_at AS session_expires_at, s.deleted_at AS session_deleted_at FROM users AS u LEFT JOIN sessions AS s ON u.id = s.user_id;

 * postgresql://postgres:***@localhost/learn-fastapi
4 rows affected.

[('ronado@example.com', datetime.datetime(2024, 4, 6, 13, 36, 5, 779914, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 14, 6, 5, 764331, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 38, 47, 358561, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 6, 13, 48, 58, 564654, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 14, 24, 1, 927021, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 54, 57, 355643, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 6, 13, 56, 10, 378343, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 14, 26, 10, 376362, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('admin@admin.com', None, None, None)]

In [ ]:
%sql SELECT * FROM brains AS _brain;