In [66]:
%load_ext sql
%sql postgresql://postgres:root@localhost/learn-fastapi

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Database Diagram
<img src="./docs/v5_Ally_database_diagram.png" width="760px">

#### Get all the users

In [67]:
%sql SELECT * FROM users AS u;

 * postgresql://postgres:***@localhost/learn-fastapi
2 rows affected.

[('admin@admin.com', '$2b$12$mP.7SuE3gNK6RVrNh.H1beNkjTBmVawsf.55igXPVcaIBk91eI62O', 'admin', 'https://raw.githubusercontent.com/DNAnh01/assets/main/default_user_avatar.png', '', False, 'admin', UUID('f8194607-ad08-47cf-a644-5f36b8e53228'), datetime.datetime(2024, 4, 13, 5, 38, 35, 136415, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 38, 35, 136415, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('donguyenanh@gmail.com', '$2b$12$FqC66aQV0hfq4lSsuTKFnuggk3qhRnGHrVNjPu1csDwLoho06bYJy', 'user', 'https://raw.githubusercontent.com/DNAnh01/assets/main/default_user_avatar.png', None, False, 'user', UUID('cba2309e-5749-433c-96d5-33428d1f4691'), datetime.datetime(2024, 4, 13, 5, 38, 51, 805059, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 38, 51, 805059, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Get subscription plan by user id

In [68]:
%sql SELECT * FROM user_subscriptions AS us

 * postgresql://postgres:***@localhost/learn-fastapi
2 rows affected.

[(UUID('f8194607-ad08-47cf-a644-5f36b8e53228'), UUID('9aa1ef94-95d2-46b4-b926-77340df85d4e'), datetime.datetime(2025, 4, 13, 5, 38, 35, 146034, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), UUID('66491387-0b4a-4f31-ae6f-e05f84ebd965'), datetime.datetime(2024, 4, 13, 5, 38, 35, 146034, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 38, 35, 146034, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 (UUID('cba2309e-5749-433c-96d5-33428d1f4691'), UUID('06b09582-c8e1-4493-9d3a-28096a38afa3'), datetime.datetime(2024, 5, 13, 5, 38, 51, 887865, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), UUID('8f483f4b-f85b-4459-8495-19600f342159'), datetime.datetime(2024, 4, 13, 5, 38, 51, 887865, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 38, 51, 887865, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Test Sign In

In [69]:
%sql SELECT u.email AS email, s.created_at AS session_created_at, s.expires_at AS session_expires_at, s.deleted_at AS session_deleted_at FROM users AS u LEFT JOIN sessions AS s ON u.id = s.user_id;

 * postgresql://postgres:***@localhost/learn-fastapi
8 rows affected.

[('donguyenanh@gmail.com', datetime.datetime(2024, 4, 13, 5, 39, 49, 789027, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 9, 49, 789027, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 40, 9, 541949, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh@gmail.com', datetime.datetime(2024, 4, 13, 5, 45, 1, 176120, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 15, 1, 176120, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 45, 24, 439110, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh@gmail.com', datetime.datetime(2024, 4, 13, 5, 47, 4, 894818, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 17, 4, 894818, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 47, 14, 816662, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh@gmail.com', datetime.datetime(2024, 4, 13, 5, 49, 21, 883981, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 19, 21, 883981, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 49, 33, 832370, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh@gmail.com', datetime.datetime(2024, 4, 13, 5, 52, 24, 332336, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 22, 24, 332336, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 52, 37, 718013, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh@gmail.com', datetime.datetime(2024, 4, 13, 5, 56, 29, 618901, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 26, 29, 618901, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 5, 56, 44, 687809, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh@gmail.com', datetime.datetime(2024, 4, 13, 6, 6, 55, 860798, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 36, 55, 860798, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 13, 6, 7, 13, 429281, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('admin@admin.com', None, None, None)]