In [1]:
%load_ext sql
%sql postgresql://postgres:root@localhost/learn-fastapi

### Database Diagram
<img src="./docs/v2_Ally_database_diagram.png" width="760px">

In [2]:
%sql SELECT * FROM users AS u;

 * postgresql://postgres:***@localhost/learn-fastapi
3 rows affected.

[('admin@admin.com', '$2b$12$yvM2zNpV4bVSh2mMT3qgU.ofldKm2nwiNTAr1G9ifasb.QkCunIbm', None, None, False, None, UUID('7d9cf783-e113-41c0-8034-a461adc5590a'), datetime.datetime(2024, 4, 5, 22, 46, 38, 531238, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 5, 22, 46, 38, 531238, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('donguyenanh@example.com', '$2b$12$beYlNzEr0Seuob2.gHqEceQiRTKMrZ/dioxXIQXnv4ko5PhohFH6e', None, None, False, None, UUID('15841dbb-f6b5-4fe0-bb68-7cc32785a6b5'), datetime.datetime(2024, 4, 5, 22, 47, 25, 487013, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 5, 22, 47, 25, 487013, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('donguyenanh2k1@gmail.com', 'WBTzRbLSoSDYrxfzYYw5Kw', 'Ánh Đỗ Nguyên', 'https://lh3.googleusercontent.com/a/ACg8ocKgGEbNh0QFCGI4Oo2VOvcXCb8ZS1i4Bsn1hGdUpj0iaL71tDnk=s96-c', True, None, UUID('076c0590-41b9-42d3-bf73-27af00da3847'), datetime.datetime(2024, 4, 5, 22, 57, 44, 482126, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 5, 23, 15, 59, 622297, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Test Login

In [3]:
%sql SELECT u.email AS email, s.created_at AS session_created_at, s.expires_at AS session_expires_at FROM users AS u LEFT JOIN sessions AS s ON u.id = s.user_id;

 * postgresql://postgres:***@localhost/learn-fastapi
6 rows affected.

[('donguyenanh@example.com', datetime.datetime(2024, 4, 5, 22, 47, 40, 908467, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 5, 23, 17, 40, 908467, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 5, 22, 57, 44, 499008, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 5, 23, 45, 59, 633352, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 5, 23, 17, 41, 792393, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 5, 23, 47, 41, 791009, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 5, 23, 29, 15, 514566, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 5, 23, 59, 15, 512171, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 6, 1, 0, 7, 994746, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 1, 30, 7, 994746, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('admin@admin.com', None, None)]