In [1]:
%load_ext sql
%sql postgresql://postgres:root@localhost/learn-fastapi

### Database Diagram
<img src="./docs/v2_Ally_database_diagram.png" width="760px">

In [4]:
%sql SELECT * FROM users AS u;

 * postgresql://postgres:***@localhost/learn-fastapi
2 rows affected.

[('donguyenanh@example.com', '$2b$12$qH3HMI8G7J2Yn3l6X7gwtugObu16UiP2P0Oq4AfiTN2Xh7dEiT3qW', None, None, None, None, UUID('da1bfb22-5c90-4a65-95f2-cffca247ce76'), datetime.datetime(2024, 3, 31, 11, 56, 28, 209327, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 3, 31, 11, 56, 28, 209327, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('donguyenanh1@example.com', '$2b$12$d56ooill4czeM1NYF5tYk.Ziy/YUKEnS/0IgPNJcfqOYw.PjE/MwK', None, None, None, None, UUID('8ce0bd56-a274-40b5-97b0-b8035dacad82'), datetime.datetime(2024, 3, 31, 18, 17, 40, 835849, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 3, 31, 18, 17, 40, 835849, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Test Login

In [5]:
from jose import jwt
from app.core.config import settings



access_token= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiOGNlMGJkNTYtYTI3NC00MGI1LTk3YjAtYjgwMzVkYWNhZDgyIiwiZXhwIjoxNzExODg2MDMwfQ.tIe6iZEXnMB0I7xTODZ39IDwDYGoVR9nRamIW2OzKXI"

def decode_jwt(token: str, secret_key: str, algorithms: list):
    payload = jwt.decode(token, secret_key, algorithms=algorithms)
    return payload

res = decode_jwt(token=access_token, secret_key=settings.SECRET_KEY, algorithms=[settings.ALGORITHM])
print(res)

{'user_id': '8ce0bd56-a274-40b5-97b0-b8035dacad82', 'exp': 1711886030}

In [7]:
%sql SELECT * FROM users AS u WHERE u.id = '8ce0bd56-a274-40b5-97b0-b8035dacad82';

 * postgresql://postgres:***@localhost/learn-fastapi
1 rows affected.

[('donguyenanh1@example.com', '$2b$12$d56ooill4czeM1NYF5tYk.Ziy/YUKEnS/0IgPNJcfqOYw.PjE/MwK', None, None, None, None, UUID('8ce0bd56-a274-40b5-97b0-b8035dacad82'), datetime.datetime(2024, 3, 31, 18, 17, 40, 835849, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 3, 31, 18, 17, 40, 835849, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]