In [31]:
%load_ext sql
%sql postgresql://postgres:root@localhost/learn-fastapi

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Database Diagram
<img src="./docs/v2_Ally_database_diagram.png" width="760px">

In [32]:
%sql SELECT * FROM users AS u;

 * postgresql://postgres:***@localhost/learn-fastapi
3 rows affected.

[('admin@admin.com', '$2b$12$DGcsr.2S.BxA7ij8tgFyMuvBRasVNqKvoYdaBqoQSvEp8HzYAfEfm', None, None, False, None, UUID('6910c77e-c14d-46ef-ac7c-9d5eb62c3a51'), datetime.datetime(2024, 4, 6, 13, 31, 17, 852790, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 31, 17, 852790, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('ronado@example.com', '$2b$12$hgvn0vnoHY5yBV9dA1e3F.xjG9uJbQyDrHpB3JqZwBXzyIXIUGXvK', None, None, False, None, UUID('fa73c841-4448-41ae-8d73-162b568f9cf1'), datetime.datetime(2024, 4, 6, 13, 31, 40, 932900, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 31, 40, 932900, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None),
 ('donguyenanh2k1@gmail.com', 'cN7AgKiCtZXttRKfMpIml1B0IhEJDK3q', None, None, False, None, UUID('859e9615-a737-43c0-bfc8-e67b035ffa44'), datetime.datetime(2024, 4, 7, 19, 25, 8, 505323, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 19, 37, 37, 968463, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Test Login

In [33]:
%sql SELECT u.email AS email, s.created_at AS session_created_at, s.expires_at AS session_expires_at, s.deleted_at AS session_deleted_at FROM users AS u LEFT JOIN sessions AS s ON u.id = s.user_id;

 * postgresql://postgres:***@localhost/learn-fastapi
8 rows affected.

[('ronado@example.com', datetime.datetime(2024, 4, 6, 13, 36, 5, 779914, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 14, 6, 5, 764331, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 6, 13, 38, 47, 358561, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 7, 19, 25, 23, 739748, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 19, 55, 23, 739748, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 19, 25, 46, 474554, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 7, 19, 26, 48, 228940, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 19, 56, 48, 227565, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 19, 27, 15, 193221, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 7, 19, 32, 25, 244175, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 20, 2, 25, 242582, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 7, 19, 33, 53, 225118, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 20, 3, 53, 225118, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 7, 19, 35, 33, 707029, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 20, 5, 33, 707029, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('donguyenanh2k1@gmail.com', datetime.datetime(2024, 4, 7, 19, 37, 37, 994245, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 7, 20, 7, 37, 990217, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), None),
 ('admin@admin.com', None, None, None)]