In [9]:
%load_ext sql
%sql postgresql://postgres:root@localhost/learn-fastapi

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Database Diagram
<img src="./docs/v2_Ally_database_diagram.png" width="760px">

In [10]:
%sql SELECT * FROM users AS u;

 * postgresql://postgres:***@localhost/learn-fastapi
1 rows affected.

[('donguyenanh@example.com', '$2b$12$7SzOxVNrDIo.MV32BlUc/ulhLrvNHoiytvK/NP6zAsDcEjJRXjYEa', None, None, None, UUID('4bcc2659-c4d6-4a8f-ac44-cebd2e608f0d'), datetime.datetime(2024, 4, 1, 16, 0, 17, 356629, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 1, 16, 0, 17, 356629, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True, None)]

#### Test Login

In [12]:
%sql SELECT u.email AS email, s.created_at AS session_created_at, s.expires_at AS session_expires_at FROM users AS u LEFT JOIN sessions AS s ON u.id = s.user_id;

 * postgresql://postgres:***@localhost/learn-fastapi
1 rows affected.

[('donguyenanh@example.com', datetime.datetime(2024, 4, 1, 16, 1, 13, 41333, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2024, 4, 1, 16, 31, 13, 41333, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))))]